<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/
    bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
  <div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">My Blog</h1>
    <h4 class="mb-3">블로그에 오신 걸 환영합니다.</h4>
  </div>

<div class="container">
  <div class="row-6" th:each="article:${articles}"><!--블로그 글 수만큼 반복.-->
      <div class="card">
          <div class="card-header" th:text="${article.id}"></div><!--블로그 글 id 출력-->
      </div>
      <div class="card-body">
          <h5 class="card-title" th:text="${article.title}"></h5>
          <p class="card-content" th:text="${article.content}"></p>
          <a href="#" class="btn btn-primary">보러 가기</a>
      </div>
  </div>
  <br>
</div>
</body>
</html>